$sidebar-width: 270px;
$navbar-height: 70px;

$bg: #f6f7fb;
$surface: #ffffff;

$primary: #2563eb;
$primary-light: #dbeafe;

$text: #222;
$text-light: #777;

$border: #e5e7eb;

$shadow: 0 8px 25px rgba(0, 0, 0, 0.05);

$radius: 14px;

$transition: 0.3s ease;
